@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ACD Consultoria<br />
    Indaiatuba - SP <br />
    <abbr title="WhatsApp">P:</abbr>
    +55 (19) 99619-4898
</address>

<address>
    <strong>Supporte:</strong> <a href="mailto:contato@acdconsultoria.com.br">contato@acdconsultoria.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:contato@amacd.com.br">contato@amacd.com.br</a>
</address>
